* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

/* header */
header {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.header-content {
    position: sticky;
    top: 0;
    display: flex;
    background: darkblue;
    background: linear-gradient(182deg,darkblue 5%, #000000 50%, #000000 100%);
    background: -webkit-linear-gradient(182deg,darkblue 5%, #000000 50%, #000000 100%);
    background: -moz-linear-gradient(182deg,darkblue 5%, #000000 50%, #000000 100%);
    align-items: center;
    padding: 0;
}

#logo-vair {
    margin-left: 50px;
    height: 8vh;
}

.container {
    height: 100vh;
}

.navigasi{
    margin-left: auto;
}

.navigasi ul{
    display: flex;

}

.navigasi ul a {
    text-decoration: none;
    margin-left: 30px;
    color: white;
    padding: 15px;
    transition: .2s;
}
.navigasi ul a:hover {
    background-color: aliceblue;
    color: red;
    font-weight: 400;
    transition: .2s;
    transform: skew(15deg) translate(-10px,0px);
    -webkit-transform: skew(15deg) translate(-10px,0px);
    -moz-transform: skew(15deg) translate(-10px,0px);
    box-shadow: -12px 11px 3px -3px rgba(0,153,255,0.62);
    -webkit-box-shadow: -12px 11px 3px -3px rgba(0,153,255,0.62);
    -moz-box-shadow: -12px 11px 3px -3px rgba(0,153,255,0.62);
}

.navigasi ul a li {
    list-style: none;
    font-size: 14pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* navigasi product */
.nav-product{
    position: relative;
    text-align: center;
    background-color: black;
    /* border-top: 1px solid white; */
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-bottom: 20px;
    z-index: -1;
}

.nav-product nav ul{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style: none;
}

.nav-product a img{
    text-align: center;
    width: 15%;
    transition: filter 0.3s ease;
}

.nav-product a p{
    color: #fff;
}
/* main */

main{
    margin-top: 5vh;
    padding: 0 10vh;
}
/* card */
.card{
    width: 18em;
    height: 29em;
    box-shadow: 0 4px 8px 0 rgba(1, 27, 62, 0.5);
    overflow: hidden;
    color: #4a4a4a;
    background-color: white;
    border-radius: 10px;
}

.card a{
    color: #4a4a4a;
}

.img-wrap{
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 300px;
}

.img-wrap img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}

.card:hover .img-wrap img {
    transform: scale(1.1);
}  

.product-wrap{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.card .text {
    padding: 16px;
}

.card .text h3 {
    margin-bottom: 8px ;
}

.card .text p{
    margin-bottom: 5px;
}

#detail{
    margin-top: 15px;
    width: fit-content;
    padding: 5px 10px;
    border: 1px solid rgba(128, 128, 128, 0.422);
    border-radius: 10px;
    transition: border-color 0.3s ease, color 0.3s ease;
}

.card .text p img{
    margin-left: 60px;
    width: 25px;
    vertical-align: middle;
}

#detail:hover{
    border: 1px solid rgb(253, 0, 0.4);
    color: rgb(253, 0, 0.4);
}
/* card animation */
.product-wrap .card:nth-child(1){
    --animate-delay:0.5s;
}
.product-wrap .card:nth-child(2){
    --animate-delay:1s;
}
.product-wrap .card:nth-child(3){
    --animate-delay:1.5s;
}

.product-wrap .card:not(.matic) {
    display: none;
}
.nav-product ul a.active p{
    color: yellow;
}

/* channel  */
.channel {
    margin-top: 6vh;
    display: flex;
    background-color: darkblue;
    justify-content:space-between;
    align-items: center;
    padding: 0px 70px;
    height: 70px;
}
.channel p {
    letter-spacing: 2px;
    font-size: 30pt;
    color: aliceblue;
    font-family: 'Bebas Neue', sans-serif;
}
.channel p span {
    color: rgb(0, 0, 0);
}

.channel-icon {
    display: flex;
}

.channel-icon a {
    margin: 0 10px;
    padding: 10px;
    border-radius: 30px;
    transition: .2s;
}
.channel a:hover{
    background-color: rgba(0, 0, 0, 0.637);
    transform: translateY(-10px);
    transition: .5s;
}

.channel-icon i {
    color: aliceblue;
}

/* footer  */
.footer{
    width: 100vw;
    background-color: #000000;
    display: flex;
    padding-top: 20px;
}

.left-footer{
    width: 50vw;
    
}
.left-footer-title {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
}
.left-footer-title p{
    font-family: 'Arimo', sans-serif;
    font-weight: 900;
    font-size: 20pt;
    margin-left: 20px;
    color: aliceblue;
}

.left-footer-title img{
    margin-left: 8vw;
    width: 7vw;
}
.left-footer-content{
    display: flex;
}
.left-footer-content ul a li{
    list-style: none;
    font-size: 14pt;
    letter-spacing: 2px;
    line-height: 3em;
    font-family: 'Poppins', sans-serif;
}
.left-footer-content ul a{
    position: relative;
    text-decoration: none;
    color: rgb(202, 201, 201);
}
.left-footer-content ul a:hover{
    color: red;
}
.left-footer-content ul a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; 
    background-color: red; 
    transition: width 0.4s ease;
}
.left-footer-content ul a:hover::before {
    animation: hoverUnderline .3s ease 1 forwards;
}
.left-footer-content ul {
    margin-left: 20%;
    line-height: 2em;
}

.right-footer{
    width: auto;
}
.contact-us{
    display:flex ;
    flex-direction: column;
    text-align: center;
    border-radius: 30px;
    margin-top: 50px;
    margin-right: 40px;
    padding: 25px;
    background: #000000;
background: linear-gradient(90deg,#000000 0%, #011253 80%);
background: -webkit-linear-gradient(90deg,#000000 0%, #011253 80%);
background: -moz-linear-gradient(90deg,#000000 0%, #011253 80%);
}
.contact-us h2{
    color: aliceblue;
    font-size: 2em;
    letter-spacing: 5px;
    font-family: 'Poppins', sans-serif;
}
.contact {
    margin-left: 10px;
}
.contact a{
    display: flex;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
    font-size: 14pt;
}

.contact a p {
    margin-left: 20px;
    text-align: start;
}
.contact a:hover{
    color: red;
    transform: translateX(20px);
    transition: .3s;
}

.copyright{
    text-align: center;
    letter-spacing: 2px;
    width: auto;
    padding: 40px;
    padding-top: 60px;
    font-size: 1em;
    color: whitesmoke;
    background-color: #000000;
}
@keyframes fadeInOut {
    0% {
        opacity: 0.25;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.25;
    }
    
}
@keyframes naikTurun {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(6px);
    }
    50% {
        transform: translateY(-6px);
    }
    75% {
        transform: translateY(6px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes hoverUnderline {
    0% {
        width: 0;
    }
    25% {
        width: 25%;
    }
    50% {
        width: 50%;
    }
    75% {
        width: 75%;
    }
    100% {
        width: 100%;
    }
}

/* responsive */

@media screen and (max-width: 768px){
    body {
        overflow-x: hidden;
        font-size: 80%;
    }
    /* header  */
    .navigasi ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background: darkblue;
        width: 100%;
        z-index: 1000;
    }

    .navigasi ul.show {
        display: flex;
        
    }

    .navigasi ul a {
        text-align: center;
        padding: 15px;
        width: 100%;
        box-sizing: border-box;
        margin-left: 0;
    }
    .navigasi ul a li {
        font-size: 12pt;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        color: white;
        margin-right: 30px;
    }

    /* content */
    .product-wrap{
        flex-direction: column;
        gap: 50px;
        padding: 0 5%;
    }
    
    .card {
        width: 100%;
        height: auto;
    }
    /* footer  */
    .channel p{
        display: none;
    }
    .channel{
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .left-footer-title img {
      margin-left: 2vw; 
      width: 15vw; 
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5vw ;
    }
    .left-footer{
        width: 80vw;
    }
    .left-footer-title p {
      font-size: 16pt; 
      margin-left: 5px; 

    }
    
    .left-footer-content ul a li {
      font-size: 12pt; 
      line-height: 2em; 
    }
    
    .left-footer-content ul {
      margin-left: 10%;
      line-height: 2em; 
    }
    
    .instansi img {
      height: 50px; 
      margin: 5px; 
    }
    
    .contact-us h2 {
      font-size: 1.5em; 
      letter-spacing: 3px; 
    }
    
        .contact a {
          font-size: 12pt;
        }
      
        .copyright {
          padding: 20px; 
          font-size: smaller;
        }
  }
