body{
    margin: 0;
    padding: 0;
    background-color: darkblue;
    overflow-x: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
*{
    scroll-behavior: smooth;
}
/* header  */

header {
    position: relative;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.header-content {
    top: 0;
    display: flex;
    background: darkblue;
background: linear-gradient(182deg,darkblue 5%, #000000 50%, #000000 100%);
background: -webkit-linear-gradient(182deg,darkblue 5%, #000000 50%, #000000 100%);
background: -moz-linear-gradient(182deg,darkblue 5%, #000000 50%, #000000 100%);
    align-items: center;
    padding: 0;
}

#logo-vair {
    margin-left: 50px;
    height: 8vh;
}

.navigasi{
    margin-left: auto;
}

.navigasi ul{
    display: flex;

}

.navigasi ul a {
    text-decoration: none;
    margin-left: 30px;
    color: white;
    padding: 15px;
    transition: .2s;
}
.navigasi ul a:hover {
    background-color: aliceblue;
    color: red;
    font-weight: 400;
    transition: .2s;
    transform: skew(15deg) translate(-10px,0px);
-webkit-transform: skew(15deg) translate(-10px,0px);
-moz-transform: skew(15deg) translate(-10px,0px);
box-shadow: -12px 11px 3px -3px rgba(0,153,255,0.62);
-webkit-box-shadow: -12px 11px 3px -3px rgba(0,153,255,0.62);
-moz-box-shadow: -12px 11px 3px -3px rgba(0,153,255,0.62);
}

.navigasi ul a li {
    list-style: none;
    font-size: 14pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* CONTENT  */
.container .img-header{
    width: 100vw;
    margin-top: 0;
    height: 40vh;
    background: url(/assets/image/bg-header-dealer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    
}
.container{
    text-align: center;
}
.dealer-title{
    background-color: #000000;
    color: aliceblue;
    padding: 10px;
    position: sticky;
    top: 70px;
    z-index: 100;
}
.container .dealer-title h1{
    font-size: 26pt;
    letter-spacing: 3px;
}
.container .dealer-title h1 span{
    font-size: 26pt;
    color: red;
}

.dealer-content {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}
.card-dealer a{
    text-decoration: none;
    color: black;
}
.card-dealer {
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(1, 27, 62, 0.5);
    background-color: aliceblue;
    padding: 10px;
    width: 20vw;
}
.card-dealer:hover{
    background-color: rgb(215, 215, 215);
}

.card-dealer img{
    border-radius: 20px;
}
.card-dealer h3{
    font-size: 20pt;
}
.desc-address{
    display: flex;
    justify-content: center;
    align-items: center;
}
.desc-address p {
    font-size: 12pt;
    margin: 5px;
}

/* channel  */
.channel {
    display: flex;
    background-color: darkblue;
    justify-content:space-between;
    align-items: center;
    padding: 0px 70px;
    height: 70px;
}
.channel p {
    letter-spacing: 2px;
    font-size: 30pt;
    color: aliceblue;
    font-family: 'Bebas Neue', sans-serif;
}
.channel p span {
    color: rgb(255, 0, 0);
}

.channel-icon {
    display: flex;
}

.channel-icon a {
    margin: 0 10px;
    padding: 10px;
    border-radius: 30px;
    transition: .2s;
    color: aliceblue;
}
.channel a:hover{
    background-color: rgba(0, 0, 0, 0.637);
    color: red;
    transform: translateY(-10px);
    transition: .5s;
}

/* footer  */
.footer{
    width: 100vw;
    background-color: #000000;
    display: flex;
    padding-top: 20px;
}

.left-footer{
    width: 50vw;
    
}
.left-footer-title {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
}
.left-footer-title p{
    font-family: 'Arimo', sans-serif;
    font-weight: 900;
    font-size: 20pt;
    margin-left: 20px;
    color: aliceblue;
}

.left-footer-title img{
    margin-left: 8vw;
    width: 7vw;
}
.left-footer-content{
    display: flex;
}
.left-footer-content ul a li{
    list-style: none;
    font-size: 14pt;
    letter-spacing: 2px;
    line-height: 3em;
    font-family: 'Poppins', sans-serif;
}
.left-footer-content ul a{
    position: relative;
    text-decoration: none;
    color: rgb(202, 201, 201);
}
.left-footer-content ul a:hover{
    color: red;
}
.left-footer-content ul a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; 
    background-color: red; 
    transition: width 0.4s ease;
}
.left-footer-content ul a:hover::before {
    animation: hoverUnderline .3s ease 1 forwards;
}
.left-footer-content ul {
    margin-left: 20%;
    line-height: 2em;
}
.instansi{
    padding: 20px;
    text-align: center;
}
.instansi img{
    height: 100px;
    margin: 10px;
}

.right-footer{
    width: auto;
}
.contact-us{
    display:flex ;
    flex-direction: column;
    text-align: center;
    border-radius: 30px;
    margin-top: 50px;
    margin-right: 40px;
    padding: 25px;
    background: #000000;
background: linear-gradient(90deg,#000000 0%, #011253 80%);
background: -webkit-linear-gradient(90deg,#000000 0%, #011253 80%);
background: -moz-linear-gradient(90deg,#000000 0%, #011253 80%);
}
.contact-us h2{
    color: aliceblue;
    font-size: 2em;
    letter-spacing: 5px;
    font-family: 'Poppins', sans-serif;
}
.contact {
    margin-left: 10px;
}
.contact a{
    display: flex;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
    font-size: 14pt;
}

.contact a p {
    margin-left: 20px;
    text-align: start;
}
.contact a:hover{
    color: red;
    transform: translateX(20px);
    transition: .3s;
}

.copyright{
    text-align: center;
    letter-spacing: 2px;
    width: auto;
    padding: 40px;
    padding-top: 60px;
    font-size: 1em;
    color: whitesmoke;
    background-color: #000000;
}


/* keyframes */
@keyframes fadeInOut {
    0% {
        opacity: 0.25;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.25;
    }
    
}
@keyframes naikTurun {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(6px);
    }
    50% {
        transform: translateY(-6px);
    }
    75% {
        transform: translateY(6px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes hoverUnderline {
    0% {
        width: 0;
    }
    25% {
        width: 25%;
    }
    50% {
        width: 50%;
    }
    75% {
        width: 75%;
    }
    100% {
        width: 100%;
    }
}

.slide-in {
    animation: slideIn 2s ease; 
    opacity: 1;
    transform: translateX(0);
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-50px); 
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @media screen and (max-width: 768px){
    body {
        overflow-x: hidden;
        font-size: 80%;
    }
    /* header  */
    .navigasi ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background: darkblue;
        width: 100%;
        z-index: 1;
    }

    .navigasi ul.show {
        display: flex;
        text-align: center;
    }

    .navigasi ul a {
        text-align: center;
        padding: 15px;
        width: 100%;
        box-sizing: border-box;
        margin-left: 0;
        
    }
    .navigasi ul a li {
        font-size: 12pt;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        color: white;
        margin-right: 30px;
    }

    /* content  */
    .container .dealer-title h1{
        font-size: 16pt;
        letter-spacing: 1px;
    }
    .container .dealer-title h1 span{
        font-size: 16pt;
        color: red;
    }
    .dealer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: aliceblue;
    }
    .card-dealer a{
        text-decoration: none;
        color: black;
    }
    .card-dealer {
        margin: 20px;
        margin-left: 20vw;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(1, 27, 62, 0.5);
        background-color: aliceblue;
        padding: 10px;
        width: 60vw;
    }
    .card-dealer:hover{
        background-color: rgb(215, 215, 215);
    }
    
    .card-dealer img{
        border-radius: 20px;
        width: 50vw;
    }
    .card-dealer h3{
        font-size: 14pt;
    }
    .desc-address{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .desc-address p {
        font-size: 11pt;
        margin: 5px;
    }


    /* footer  */
    .channel p{
        display: none;
    }
    .channel{
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .left-footer-title img {
      margin-left: 2vw; 
      width: 15vw; 
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5vw ;
    }
    .left-footer{
        width: 80vw;
    }
    .left-footer-title p {
      font-size: 16pt; 
      margin-left: 5px; 

    }
    
    .left-footer-content ul a li {
      font-size: 12pt; 
      line-height: 2em; 
    }
    
    .left-footer-content ul {
      margin-left: 10%;
      line-height: 2em; 
    }
    
    .instansi img {
      height: 50px; 
      margin: 5px; 
    }
    
    .contact-us h2 {
      font-size: 1.5em; 
      letter-spacing: 3px; 
    }
    
        .contact a {
          font-size: 12pt;
        }
      
        .copyright {
          padding: 20px; 
          font-size: smaller;
        }
  }


